html, body {
	background: #000;
	margin: 0;
	padding: 0;
}

#canvas {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}

#wrapper {
	position: absolute;
	width: 640px; height: 480px;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}

#snapshot {
	display: none;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #d79508;
	opacity: 0.8;
	left: 50%;
	bottom: 20%;
	z-index: 99;
	transform: translate(-50%, -50%);
}