html, body {
	background: #000;
	margin: 0;
	padding: 0;
}

#canvas {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}

#canvas {
	z-index: 99;
}

#snapshot {
	display: none;
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: green;
	left: 50%;
	bottom: 20%;
	z-index: 99;
	transform: translate(-50%, -50%);
}