html, body {
	background: #000;
	margin: 0;
	padding: 0;
}

#canvas {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}

#wrapper {
	position: absolute;
	width: 640px; height: 480px;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}

#snapshot {
	position: absolute;
	width: 80px;
	height: 40px;
	background-color: #0da307;
	opacity: 0.8;
	right: 20%;
	top: 10%;
	z-index: 99;
	transform: translate(-50%, -50%);
}